<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .container{
            margin:auto;
            width:50%;
            padding:30px;
            background:#e2e2e2;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 data-th-text="${name}">This is my home page</h1>
    <p>Company : <span data-th-text="${Company}"></span></p>
    <p>Location : <span data-th-text="${Location}"></span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, distinctio eligendi explicabo fugit ipsam obcaecati
        odit quo quos? Aliquam animi consectetur distinctio exercitationem iusto nulla quam quo quos soluta velit.</p>
</div>

</body>
</html>