<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Contact Manager</title>
</head>
<body>
<div class="">
    <h1 data-th-text="${name}"></h1>
    <h4 data-th-text="${company}"></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque esse ipsam laudantium mollitia
        necessitatibus officiis quia ratione vel voluptas voluptate? At error esse maxime velit vitae! Aliquid amet
        atque commodi consequatur consequuntur dignissimos dolor eaque exercitationem fugiat in maxime nemo obcaecati
        perferendis praesentium, provident quaerat similique sit voluptas. Autem, quas.</p>
</div>
</body>
</html>